# -------------------------
# FILE PYTHON COMPILATI
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# AMBIENTI VIRTUALI
# -------------------------
venv/
env/
.venv/

# -------------------------
# FILE DI SISTEMA
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# FILE DI EDITOR
# -------------------------
.vscode/
.idea/

# -------------------------
# MODELLI SALVATI (OPZIONALE)
# -------------------------
models/*.pkl

# -------------------------
# FILE TEMPORANEI
# -------------------------
*.log
*.tmp

# -------------------------
# FILE STREAMLIT
# -------------------------
.streamlit/